.* {
	box-sizing: border-box
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.width-half {
	width: 49%;
}

.width-full {
	width: 100%;
}

.border {
	border: 1px solid black;
}

.ib {
	display: inline-block;
}
