/* Contains all Page specific css  */

#home-container {
	/* http://www.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/ */
	margin: auto;
	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
	width: 500px;
	height: 300px;
	border: 1px solid black;
}
